APP_URL=http://localhost:8000
APP_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=vite_gourmand
DB_USER=root
DB_PASS=

MONGO_URI=mongodb://localhost:27017
MONGO_DB=vite_gourmand

MAIL_FROM=noreply@viteetgourmand.fr
CONTACT_MAIL=contact@viteetgourmand.fr
